<div id="browsecategorypage" data-role="page" data-theme="a" data-title="Browse by Category" data-add-back-btn="true"> 
       <div data-role="header"> 
        <a href="" data-rel="back">Back</a>
             <h1>Orbus</h1>
             <a href="/" data-icon="home">Home</a> 
         </div> 
                       <div class="wrapper">   
       <div class="scroller"> 
       <div data-role="content">      
             <ul id="categorylist" data-role="listview" data-inset="true" data-dividertheme="b" data-filter="true"> 
             </ul>           
           </div></div>
       </div>   
      <div data-role="footer" data-position="fixed">
       <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="/partials/setup.html" data-icon="gear" data-transition="flip">Setup</a></li>
                <li><a href="/partials/search.html" data-icon="search" data-transition="flip">Search</a></li>
            </ul>
        </div><!-- /navbar -->
      </div> 
  </div> 