<div id="diagrampage" data-role="page" data-theme="a" data-title="Diagram" data-add-back-btn="true"> 
       <div data-role="header" data-position="fixed"> 
        <a href="" data-rel="back">Back</a>
             <h1>Orbus</h1> 
             <a href="/" data-icon="home">Home</a>
         </div> 
            <div data-role="content"> 
             <div id="imagewrapper">
      <div id="imagescroller">

        <img id="im" src=""/>
        <!-- <img id="im" src="" style="width:100%" /> -->
        
        </div>
    </div>         
       </div>   
      <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a id="prevpage" href="" data-icon="arrow-l" data-transition="flip">Prev Page</a></li>
                <li><a id="nextpage" href="" data-icon="arrow-r" data-transition="flip">Next Page</a></li>
                <li><a href="#diagraminfopanel" data-icon="info">Info</a></li>
            </ul>
        </div><!-- /navbar -->
      </div> 


<div data-role="panel" id="diagraminfopanel" data-display="overlay" data-position-fixed="true">
  <div data-role="header" data-theme="b" style="z-index:2"> 
    <h2>Info</h2> 
  </div>
                <div class="wrapper">   
       <div class="scroller"> 
  <div data-role="content">
    <div id="diagraminfolist"></div></div></div>
  </div>
</div>
<!-- <img id="hiddenimg" src="" style="dispaly:none" /> -->
  </div> 
