<div id="fileviewer" data-role="page" data-theme="a" data-title="Diagram" data-add-back-btn="true"> 
       <div data-role="header" data-position="fixed"> 
        <a href="" data-rel="back">Back</a>
             <h1>Orbus</h1> 
             <a href="/" data-icon="home">Home</a>
         </div> 
                       <!-- <div class="wrapper">    -->
       <div class="filescroller"> 
<div data-role="content" id="filecontainer"> 
       <!-- <div id="filecontainer">  

       </div> -->   
     <!-- </div> -->
     </div></div>
<!--       <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="/partials/setup.html" data-icon="gear" data-transition="flip">Setup</a></li>
                <li><a href="/partials/search.html" data-icon="search" data-transition="flip">Search</a></li>
                <li><a href="#diagraminfopanel" data-icon="info">Info</a></li>
            </ul>
        </div>
      </div>  -->
</div>