body {
    margin:     0px;
    margin-bottom: 0px;
    background:  #ecf5fe;
    overflow:   hidden;
/*    scroll:     no; 
    width:      100%; */
}

.divTopMatter {
    position: absolute;
    top: 0px;
    left: 0px;
}
.divBottomMatter {
    padding-top:    80px;
    height:         100%;
}
.divBottomMatterInner {
    height:         100%;
    overflow-y:     scroll;
}

.divHeading {
    height:         25px;
}    

.divHeader {
/*    border-top:     solid 2px #f60; */
    border-top:     solid 2px #fff;
    height:         35px;
    padding:        0px;
    width:          100%;
    background:     #cbe1fc;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cbe1fc', EndColorStr='#7ea6e1');
    font-family:    Tahoma, sans-serif;
    font-size:      12pt;
    font-weight:    bold;
    color:          #000;
    margin:         0px;
    padding-top:    8px;
    padding-left:   10px;
    overflow:       hidden;
    width:          100%; /* test */
}
.divControls {
    height:         20px;
    font-family:    Tahoma, sans-serif;
    font-size:      8pt;
    color:          #fff;
    background:     #27c;
    width:          100%; /* test */
}
.divControlButton {
    display:        inline;
    margin-left:    4px;
    margin-right:   4px;
    margin-top:     1px;
    margin-bottom:  1px;
    padding-left:   3px;
    padding-right:  3px;
    height:         18px;
    border:         solid 1px #69d;
    cursor:         pointer;
    cursor:         hand;
}
.divControlButtonHighlighted {
    border:         solid 1px #fff;
}

.divControlMenu {
    display:        none;
    position:       absolute;
    top:            0px;
    left:           0px;
    color:          #fff;
    background:     #27c;
    padding:        0px;
    height:         47px;
    width:          120px;
    border:         solid 1px #fff;
    cursor:         pointer;
    cursor:         hand;
}

.divControlMenuItem {
    padding-top:    2px;
    padding-bottom: 2px;
    padding-left:   3px;
    padding-right:  3px;
    height:         18px;
    border-bottom:  solid 1px #fff;
}

.divControlMenuItemLast {
    border-bottom:  none;
}

.divControlMenuItemHighlighted {
    background:     #69d;
}

/* Generic name/value pairs */
.divNameValPair {
    padding:        5px;
    border-bottom:  solid 1px #ccc;
}
.divNameValPairHighlighted {
    color:          #e75221;
    cursor:         pointer;
    cursor:         hand;
}
.divNameValPairLast {
    border:         none;
}
.divName {
    vertical-align: top;
    width:          20%;
    display:        inline;
    font-weight:    bold;
}
.divValue {
    width:          80%;
    display:        inline;
}
.divDName {
    vertical-align: top;
    width:          20%;
    display:        inline;
    font-weight:    bold;
}
.divDValue {
    vertical-align: top;
    width:          30%;
    display:        inline;
}
.divDescription {
    display:        inline;
    width:          49%;
}


/* Issue */
.divIssue {
    width:          100%;
    border:         solid 1px #ccc;
    padding:        4px;
    padding-left:   50px;
    margin-bottom:  3px;
}
.divPriorityHighest {
    background:     url('Images/themes/white/issuepriority1.gif');
    background-repeat:  no-repeat;
    background-position-x:  4px;
    background-position-y:  4px;
}
.divIssueTitle {
    font-weight:    bold;
    padding:        5px;
}
.divIssueDetails {
}


/* Relationship */
.divRelationship {
    border:         solid 1px #ccc;
    padding:        4px;
    margin-bottom:  3px;
}
.divRelationshipHighlighted {
    color:          #215dc6;
    border:         solid 1px #215dc6;
    background:     #fff;
    cursor:         pointer;
    cursor:         hand;
}
.divRelationshipTitle {
    vertical-align: top;
/*    color:          #428eff; */
    font-weight:    bold;
    padding:        4px;
    padding-bottom: 8px;
}
.divRelationshipTitleHighlighted {
    color:          #215dc6;
    text-decoration:underline;
}
.divRelationshipProperties {
}
.divRelationshipProperty {
    padding:        4px;
}
.divRelationshipDestination {
    border:         solid 1px #ccc;
    padding:        3px;
    padding-left:   20px;
    margin-top:     3px;
    margin-bottom:  3px;
    cursor:         pointer;
    cursor:         hand;
}
.divRelationshipDestinationHighlighted {
    color:          #215dc6;
    border:         solid 1px #215dc6;
    background:     #fff;
    text-decoration: underline;
}

/* Panel */
.divPanel {
    background:     #25c;
    margin-top:     15px;
    margin-bottom:  22px;
    margin-left:    10px;
    margin-right:   10px;
    clear:          both;
    width:          100%;  /* test */
}
.divPanelTitle {
    height:         22px;
    width:          100%; /* test */
    font-family:    Tahoma, sans-serif;
    font-weight:    bold;
    font-size:      8pt;
    color:          #fff;
    background:     url('Images/panelheadright.gif');
    background-position-x:  right;
    background-position-y:  top;
    background-repeat:      no-repeat;
    cursor:         pointer;
    cursor:         hand;
}
.divPanelTitleHighlighted {
    color:          #fff;
}
.divPanelLabel {
    height:         22px;
    float:          left;
    padding-top:    4px;
    padding-left:   15px;
    background:     url('Images/panelheadleft.gif');
    background-position-x:  left;
    background-position-y:  top;
    background-repeat:      no-repeat;
}
.divPanelToggler {
    height:         22px;
    float:          right;
    padding-right:  5px;
}
.divPanelBody {
    width:          100%;
    background:     #fff;
    border:         solid 1px #25c;
    font-family:    Tahoma, sans-serif;
    font-size:      8pt;
    color:          #666;
    padding-top:    4px;
    padding-left:   15px;
    padding-right:  15px;
    padding-bottom: 4px;
}
.divPreviewPanelBody {
    overflow:       scroll;
}
.imgPreview {
    cursor:         pointer;
    cursor:         hand;
}
.divPanelSubpanel {
    background:     #ebf0fc;
    margin-top:     4px;
    margin-bottom:  4px;
    padding:        2px;
    width:          100%;
}

.divPanelButton {
    background:     #fff;
    color:          #666;
    padding:        3px;
    font-family:    Tahoma, sans-serif;
    font-weight:    bold;
    font-size:      8pt;
    border-left:    solid 1px #999;
    border-right:   solid 1px #999;
}
.divPanelButtonHighlighted {
    background:         #215dc6;
    color:              #fff;
    cursor:             pointer;
    cursor:             hand;
}

