/****************************************
*                   			*
* DIAGRAM BROWSER / VISIO STYLES    	*
*                   			*
****************************************/
#hideiServerIssues,#hideiServerProperties,#hideiServerCustom,#hidePNZ,#hideGoto
{
background-color:#f4f4f4;


}


.documentframe
{
    background-color: #f4f4f4;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;

    
}

td {vertical-align: middle;}

.fillcolor
{   
    vertical-align: top;
    padding: 0pt;
    background-color:#ff6600;
    color:#FFF;

}

.iServerMenu 
{
    padding-left:2pt;
    padding-right:2pt;
    background-color:#7ea6e1;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cbe1fc', EndColorStr='#7ea6e1');
}

.iServerMenuItem 
{
    
    font-size:80%;
    line-height: 1.5em;
    color:white;
    cursor:hand;
}

A.blu1
{
    color: #003db2;
    text-decoration: none;
    font-size: 95%;
    
    line-height: 1.5em;
}

A.blu1:visited
{
    color: #003db2;
    text-decoration: none
}

A.blu1:hover
{
    text-decoration: underline
}

.visrptTitle
{
    color:Black;
    font-style:normal;
}

.visrptSummryLabel
{
    color:black;
    font-weight:bold;
}

.visrptGrandTotalRow
{   
    color:Black;
    font-weight:bold;
}

.visrptHeader
{
    color:White;
    font-style:normal;
    background-color:#5C85EF;
}

.visrptRowItem
{
    background-color:#DDDDDD;
}

.a1, .a1:visited
{   color: #ff6600;
    text-decoration:underline;
}
.a1:hover
{   
    text-decoration:none;
}

.p1
{   
    font-size: 60%;
    COLOR: #000;
    Margin: 4pt,0pt,0pt,0pt;
    line-height: .8em;
}

.p2
{   
    FONT-WEIGHT: normal;
    font-size: 70%;
    COLOR: #000;
    Margin: 4pt,0pt,0pt,0pt;
    line-height: 1.3em;
}

.label
{   
    font-size: 8pt;
    color: #FFF;
    margin: .2em,0pt,2pt,2pt;
    line-height: 1em;
    text-decoration:none;
}

.gobutton
{
    padding: 0pt, 2pt, 0pt, 0pt;
    vertical-align: bottom;
}

.formText
{
    font-size: 70%;
    width: 99%;
    margin: 0;
    padding: 0;
}

.holderTable
{
    padding-left:0px;
    padding-right:0px;
}

.detsPara
{
    margin:2pt;
    font-size:60%;
}

.navTocColor
{
    background-color: #f4f4f4;
    padding:1px;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.indent
{
    margin-left:15px;
    margin-right:15px;
    padding-top:0px;
    margin-top:0px;
}

.results
{   
    COLOR: #333333;
    Margin: 4pt,0pt,0pt,10pt;
    text-indent: -10pt;
    line-height: 1.1em;
}

.propViewer 
{
    background-Color:white;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 70%;
    text-align: center;
}

.propViewerTABLE 
{
    margin: 2pt;
    border-collapse:collapse;
    border:solid 1px #2255cc;   
}

.propViewerTHEAD 
{
    border: 2px;
    font-size: 60%;
}

.propViewerTD 
{

    FONT-WEIGHT: normal;
    font-size: 70%;
    COLOR: #000000;
    Margin: 0pt;
    line-height: 1.1em;
}

.propViewerEvenRow 
{
    background-Color: #E7E7E7;
}

.propViewerOddRow 
{
    background-Color: #FFFFFF; 
}

BODY
{
    font-family: Arial, Tahoma, Verdana;
    font-size: medium;
}

DIV
{
    margin:0;
    padding:0;
}

FORM
{
    margin:0;
}

.hiderScroll
{
    width:100%;
    margin-bottom:2px;
    margin-top:2px;
    margin-left:2px;
    margin-right:2px;
    overflow:auto;
}

.hider
{
    width:100%;
    margin-bottom:2px;
    margin-top:1px;
}

.nav
{
    width: 100%;
    height: 100%;
    overflow: auto; 

}

.menuItem 
{
    font-size:80%;
    line-height: 1.5em;
    color:white;
    cursor:hand;
}

.highlightItem 
{

    font-size:80%;
    line-height: 1.5em;
    color:grey;
    cursor:hand;
}

.hlMenu 
{
    border:black 2px outset; 
    display:none; 
    z-index:10; 
    position:absolute; 
    background-Color:white;
}

.innerhlMenu 
{
    padding-left:2pt;
    padding-right:2pt;
    background-Color:white;
}

.svgmessage
{     
      FONT-WEIGHT: normal;
      font-size: 80%;
      COLOR: #333333;
      Margin: 1em;
      line-height: 1.1em;
}


/****************************************
*                   			*
* ISSUE AND COMMENT MENU STYLES     	*
*                   			*
****************************************/


.tdCommentFormText {

    font-size:    8pt;
    font-weight:  normal;
    COLOR: #000000
}

.tdCommentFormLink {

    font-size:    8pt;
    font-weight:  normal;
    COLOR: #000000
}

:hover.tdCommentFormLink {

    font-size:    8pt;
    font-weight:  normal;
    COLOR: #0000C0
}


/****************************************
*                   			*
* STYLES FOR WIDGET CONTENT         	*
*                   			*
****************************************/

.tdPropertiesHeader {

    font-size:    9pt;
    font-weight:  normal;
    COLOR: #000000
}
.tdPropertiesLabel {

    font-size:    9pt;
    font-weight:  normal;
    COLOR: #000000
}
.tdPropertiesValue {

    font-size:    9pt;
    font-weight:  normal;
    COLOR: #000000
}

.widgetPanel
{   
    border:         solid 1px #cccccc;
    vertical-align: top;
    display:        inline;
}

.widgetPanelMouseOver
{

    font-size:    8pt;
    color:          #000000;
    border:         solid 1px #cccccc;
    background:     #FFF5DD;
    cursor:         pointer;
    cursor:         hand;
    vertical-align: top;
    display:        inline;
}

.widgetLink
{

    font-weight:  normal;
    font-size:    8pt;
    color:        #003db2;
    text-decoration: none;
}

.widgetTable
{
	border:0;
	cellpadding:2px;
	cellspacing:0px;
	border-collapse: collapse;
	width: 100%;
}

.tdWidgetPanel
{
    border:         solid 1px #cccccc;
    font-size:      8pt;
    color:          #000000;
    padding:3px;
}

.tdWidgetPanelHeader
{
    border:         solid 1px #cccccc;
    font-size:      8pt;
    color:          #000;
    padding:3px;
}



/****************************************
*                   			*
* GENERAL POPUP MENU STYLES  		*
*                   			*
****************************************/


/* FIRST LEVEL MENU DIV (no scrollbars) */
.popupMenu 
{   
    display:none; 
    z-index:10; 
    position:absolute; 
}

/* SECOND AND THIRD LEVEL MENU DIV SCROLLBARS*/
.popupMenu_scrollbars
{    
     background-color:transparent;
    display:none; 
    z-index:10; 
    position:absolute; 
    overflow: auto;
    height: 183px;
    width: 216px;   
    color: #000000;
    scrollbar-3dlight-color: ;
    scrollbar-arrow-color: ;
    scrollbar-base-color: ;
    scrollbar-darkshadow-color: ;
    scrollbar-highlight-color: ;
    scrollbar-shadow-color: ;
    scrollbar-track-color: ;
}


/****************************************
*                   			*
* DIAGRAM POPUP MENU STYLES       	*
*                   			*
****************************************/


/* POPUP MENU TABLE */
.popupDiagramTable {
    background: #FFF;
    width: 200;
    border: 1px solid #CCC;
    border-collapse: collapse;
}

/* GENERIC POPUP MENU TABLE TD PROPERTIES */
.popupDiagramTdMouseout, .popupDiagramTdMouseover, .popupDiagramTdMouseoverNoLink{

        FONT-WEIGHT: normal;
        font-size: 8pt;
        COLOR: #000;
        TEXT-DECORATION: none;
    vertical-align: middle;
    height:20;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CCC;
    border-collapse: collapse;

}

/* HEADER TD OF POPUP MENU TABLE */
.popupDiagramHeader {

        FONT-WEIGHT: bold;
        font-size: 8pt;
        COLOR: #FFFFFF;      
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #ff6600;

	
}

/* POPUP MENU TD SPECIFICS */
.popupDiagramTdMouseout {
    background: #FFF;
}

.popupDiagramTdMouseover {
    background: #F4F4F4;    
    cursor: pointer;
}

.popupDiagramTdMouseoverNoLink {
    background: #FFF;    
    COLOR: #CCC;
}

.popupDiagramTdMousedown {
    background: #FFFFFF;
}

.popupDiagramDescScrollbars {
 width: 190px;
 height: 80px;
 overflow: auto;	
 font-size: 8pt;
 font-style: normal;
 font-weight: normal;
 padding: 0;
 margin: 0;
    background-color:transparent;
    scrollbar-3dlight-color: #69A9FF;
    scrollbar-arrow-color: #ecf5fe;
    scrollbar-base-color: #69A9FF;
    scrollbar-darkshadow-color: #69A9FF;
    scrollbar-highlight-color: #69A9FF;
    scrollbar-shadow-color: #69A9FF;
    scrollbar-track-color: #FFF5DD;
}


/****************************************
*                   			*
* SHAPE POPUP MENU STYLES       	*
*                   			*
****************************************/


/* POPUP MENU TABLE */
.popupShapeTable {
    background: #cccccc;
    width: 200;
    border: 1px solid #CCC;
    border-collapse: collapse;
}

/* GENERIC POPUP MENU TABLE TD PROPERTIES */
.popupShapeTdMouseout, .popupShapeTdMouseover, .popupShapeTdMouseoverNoLink{

        FONT-WEIGHT: normal;
        font-size: 8pt;
        COLOR: #000;
        TEXT-DECORATION: none;
    vertical-align: middle;
    height:20;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CCC;
    border-collapse: collapse;

}

/* HEADER TD OF POPUP MENU TABLE */

.popupShapeHeader {

        FONT-WEIGHT: bold;
        font-size: 8pt;
        COLOR: #FFFFFF;      
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #ff6600;

}

/* POPUP MENU TD SPECIFICS */
.popupShapeTdMouseout {
    background: #FFF;
}

.popupShapeTdMouseover {
    background: #F4F4F4;    
    cursor: pointer;
}

.popupShapeTdMouseoverNoLink {
    background: #FFF;    
    COLOR: #808080;
}

.popupShapeTdMousedown {
    background: #FFFFFF;
}

.popupShapeDescScrollbars {
 width: 190px;
 height: 80px;
 overflow: auto;	
 font-size: 8pt;
 font-style: normal;
 font-weight: normal;
 padding: 0;
 margin: 0;
    background-color:transparent;
    scrollbar-3dlight-color: #69A9FF;
    scrollbar-arrow-color: #ecf5fe;
    scrollbar-base-color: #69A9FF;
    scrollbar-darkshadow-color: #69A9FF;
    scrollbar-highlight-color: #69A9FF;
    scrollbar-shadow-color: #69A9FF;
    scrollbar-track-color: #FFF5DD;
}