body {
    background:     #fff;
    margin:         0pt;
    overflow:       scroll;
    font-size:      8pt;
    font-family: Arial,Tahoma,Sans Serif;
}
.divTree {
}
.divTreeHidden {
    display:    none;
}
.divItem {
    white-space:    nowrap;
}
.divItemGroup {
}
.divSubitems {
    display:        block;
    position:       relative;
    left:           16px;
}
.divHiddenSubitems {
    display:        none;
}
.divPlusMinus {
    height:         16px;
    width:          16px;
    display:        inline;
    vertical-align: middle;
    text-align:     center;
}
.imgPlusMinus {
    margin:         0px;
    height:         9px;
    width:          9px;
}
.divItemLabel {
    display:        inline;
    white-space:    nowrap;
}
.divIcon {
    height:         16px;
    width:          16px;
    display:        inline;
    vertical-align: middle;
    text-align:     center;
    cursor:         default;
}
.imgIcon {
    
    width:          16px;
}

.divText {

    position:       relative;
    left:           3px;
    display:        inline;
    height:         16px;
    font-size:      8pt;
    vertical-align: middle;
    cursor:         default;
    padding:3px;
}
.divTextMouseover {

    text-decoration: underline;
    position:       relative;
    left:           3px;
    display:        inline;
    height:         16px;
    font-size:      8pt;
    vertical-align: middle;
    cursor:         default;
    padding:3px;
}
.divTextSelected {
    background:     #ececed;
    color:          #ff6600;
    position:       relative;
    left:           3px;
    display:        inline;
    height:         16px;
    font-size:      8pt;
    vertical-align: middle;
    cursor:         default;
    padding:3px;
}
.divTextSelectedMouseover {
    background:     #ececed;
    color:          #ff6600;
    position:       relative;
    left:           3px;
    display:        inline;
    height:         16px;
    font-size:      8pt;
    vertical-align: middle;
    cursor:         default;
    padding:3px;
}



